{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/events/event_details.css' %}"/>
{% endblock %}

{% block content %}
    <div class="alert-message-container">

    </div>
    <div id="container">
        <img id="image-centered" src=" /static/{{ event.cover_photo }}" alt="Event Image"/>

        <div id="header">
            {{ event.name }}
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Are you sure?' %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modal-content" style="padding:1rem;display:none;">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">{% trans 'Close' %}</button>
                        <button type="button" id="remove-attend-event-button" class="btn btn-danger"
                                data-dismiss="modal">{% trans 'Yes' %}</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="content-container">
            <div id="event-info-container">

                <div id="labels-infos">

                    <div id="event-labels">

                        <div class="label">
                            {% trans 'Location' %}
                        </div>

                        <div class="label">
                            {% trans 'Host' %}
                        </div>

                        <div class="label">
                            {% trans 'Start date' %}
                        </div>

                        <div class="label">
                            {% trans 'End date' %}
                        </div>
                        {% if event.require_payment %}
                            <div class="label">
                                {% trans 'Price' %}
                            </div>
                        {% endif %}

                    </div>

                    <div id="event-infos">

                        <div class="info">
                            {{ event.place }}
                        </div>

                        <div class="info">
                            {% for host in event.host %}
                                {{ host }}
                            {% endfor %}
                        </div>

                        <div class="info">
                            {{ event.start_date }}
                        </div>

                        <div class="info">
                            {{ event.end_date }}
                        </div>

                        {% if event.require_payment %}
                            <div id="price" class="info">
                                {{ event.price }},-
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if not sub_event_list %}
                    <div id="event-sign-up">
                        {% if event.attends %}
                            <button type="button"
                                    id="attend-event-button"
                                    class="btn btn-danger"
                                    value="-{{ event.id }}"
                                    data-toggle="modal"
                                    data-target="#eventModal">
                                {% trans 'Unattend from event' %}
                            </button>
                        {% else %}
                            <button id="attend-event-button"
                                    type="button"
                                    value="{{ event.id }}"
                                    name="mybtn"
                                    class="btn btn-success">
                                {% if event.require_payment %}
                                    {% trans 'Pay using card' %}
                                    {#                                    <div class="button-div">#}
                                    {#                                        <img src="{% static 'img/credit-card.svg' %}"/>#}
                                    {#                                        &nbsp;{% trans 'Pay using card' %}#}
                                    {#                                    </div>#}
                                {% else %}
                                    {% trans 'Attend event' %}
                                    </button>
                                {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <div id="event-description">
                {{ event.description }}
            </div>
        </div>
        {% if can_edit_and_delete_event and not sub_event_list %}
            <div class="events-section">
                <div class="category-card-container">
                    <div class="category-card" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="category-card card">
                            <div class="card-header-category card-header" role="tab"
                                 aria-controls="collapseOne"
                                 data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ category }}"
                                 aria-expanded="true">
                                <h5 class="mb-0">
                                    <a>
                                        <h3>{% trans 'My executive actions' %}</h3>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-my-executive-actions" class="collapse show" role="tabpanel"
                                 aria-labelledby="headingOne"
                                 style="background-color: white;">
                                <div class="card-block">
                                    <div class="card" style="padding:1rem;">
                                        <div>
                                            <a id="edit-event-button" href="{% url 'edit_event_page' event.id %}">
                                                <button type="button" class="buttons btn btn-warning">
                                                    <div class="button-div">
                                                        <img src="{% static 'img/pencil.svg' %}"/>
                                                        &nbsp;{% trans 'Edit event' %}
                                                    </div>
                                                </button>
                                            </a>
                                            <button id="show-confirm-delete-div-button" type="button"
                                                    class="buttons btn btn-danger">
                                                <div class="button-div">
                                                    <img src="{% static 'img/x.svg' %}"/>
                                                    &nbsp;{% trans 'Delete event' %}
                                                </div>
                                            </button>
                                        </div>
                                        <div id="confirm-delete">
                                            <a id="confirm-button" href="{% url 'get_delete_event' event.id %}">
                                                <button type="button" class="buttons btn btn-success">Confirm</button>
                                            </a>
                                            <button id="hide-confirm-delete-div-button" type="button"
                                                    class="btn btn-default">Cancel
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="events-section">
            <div class="category-card-container">

                <div class="category-card" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for category, sub_events in sub_event_list %}
                        <div class="category-card card">
                            <div class="card-header-category card-header" role="tab" id="headingOne"
                                 aria-controls="collapseOne"
                                 data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ category }}"
                                 aria-expanded="true">
                                <h5 class="mb-0">
                                    <a>
                                        <h3>{{ category }}</h3>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-{{ category }}" class="collapse show" role="tabpanel"
                                 aria-labelledby="headingOne"
                                 style="background-color: white;">
                                {% for sub_event in sub_events %}
                                    <div class="card-block">
                                    <div class="card">
                                        <div class="sub-event-container card-body">
                                            <div class="sub-event-item">
                                                <div>{{ sub_event.name }}</div>
                                            </div>
                                            <div class="sub-event-item">
                                                {% if sub_event.attends %}
                                                    <button type="button" class="join-subevent-button btn btn-danger"
                                                            value="-{{ sub_event.id }}">
                                                        Unattend from event
                                                    </button>
                                                {% else %}
                                                    <button class="join-subevent-button btn btn-success "
                                                            type="button"
                                                            value="{{ sub_event.id }}" name="mybtn">
                                                        {% trans 'Attend event' %}
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static 'js/events/event_details.js' %}"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
{% endblock %}
