{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/events/events.css' %}"/>
{% endblock %}
{% block title %}NTNUI - Events{% endblock %}

{% block content %}
    <div class="event-main-page-container">
        <div>
            <div id="search" class="filter-element input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <img src="{% static 'img/serach.svg' %}" alt="groups icon" style="max-height:1rem;"/>
                </span>
                <input id="search-field" type="text" class="form-control" placeholder="{% trans 'Search' %}"
                       aria-describedby="basic-addon1">
            </div>
            <div class="filter-element input-group" id="to-date">
            <span class="input-group-addon" id="basic-addon1">
                        {% trans 'Sort by' %}
                    </span>
                <select id="sorted-list" class="form-control-select">
                    <option value="start_date">{% trans 'Start date (ascending)' %}</option>
                    <option value="-start_date">{% trans 'Start date (descending)' %}</option>
                    <option value="name">{% trans 'Name' %}</option>
                    <option value="description">{% trans 'Description' %}</option>
                </select>
            </div>
            <div id="accordion" role="tablist" aria-multiselectable="true">

                <div class="card">
                    <div class="card-header" role="tab" id="headingOne" aria-controls="collapseOne"
                         data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
                        <h5 class="mb-0">
                            <a>
                                {% trans 'Hosted by' %}
                            </a>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                         style="background-color: white;">
                        <div class="card-block">
                            <div class="checkbox-label">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="group" value="NTNUI"
                                           class="host-checkbox custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">NTNUI</span>
                                </label><br>
                            </div>
                            {% for group in groups %}
                                <div class="checkbox-label">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" name="group" value="{{ group.id }}"
                                               class="host-checkbox custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">{{ group.name }}</span>
                                    </label><br>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="create-event">

            <h3>{% trans 'My options' %}</h3>
                {% if can_create_event %}
                <div>
                    <a id="go-to-create-event" href="{% url 'create_event_page' %}">
                        <button type="button" class="buttons btn btn-success">{% trans 'Create event' %}</button>
                    </a>
                </div>
                {% endif %}
                <div>
                    <a id="go-to-main-page" href="{% url 'get_main_page' %}">
                        <button type="button" class="buttons btn btn-success">{% trans 'All events' %}</button>
                    </a>
                </div>

        </div>
        <div id="main">
            <div id="event-container">
            </div>
            <div style="display:flex;justify-content: center; margin-top:1rem;">
                <button type="button" id="load-more"
                        class="buttons btn btn-success">{% trans 'Load more events' %}</button>
            </div>
        </div>

    </div>
    </div>
{% endblock %}



{% block script %}
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static 'js/events/event_attending.js' %}"></script>
{% endblock %}
