{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/event_details.css' %}"/>
{% endblock %}

{% block content %}
    <div class="alert-message-container">

    </div>
    <div id="container" style="text-align: center">
        <h1>Thank you for attending {{ event.name }}!</h1>
        <h3>{{ event.price }},- has been subtracted from your account.</h3>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static 'js/events/event_payment_success.js' %}"></script>
{% endblock %}
