{% extends 'registration/base.html' %}
{% load static %}


{% load widget_tweaks %}


{% block content %}

<img src="{% static 'img/ntnui.svg' %}" alt="NTNUI" class="logo" />

{% if form.errors %}
  <div class="alert alert-danger" role="alert">
    Your username and password didn't match. Please try again.
  </div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <div class="alert alert-danger" role="alert">
      Please login to see this page.
    </div>
    {% endif %}
{% endif %}


<form method="post" action="{% url 'login' %}">
<div class="panel">
    <div class="panel-title">Logg inn</div>
    <div class="panel-content">

      {% csrf_token %}

        <div class="form-group">
          {% render_field form.username class+="form-control" placeholder="E-post" %}
        </div>
        <div class="form-group">
          {% render_field form.password class+="form-control" placeholder="Passord" %}
        </div>

        <input type="submit" value="login" class="btn btn-primary" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
</div>
</form>


{% endblock %}
