body {
    background-color: #fafafa;
}

.logo-container {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
}

.card {
    border-radius: 0.15rem;
}

.form-control {
    border-radius: 0;
}

.btn {
    border-radius: 0.15rem;
}
