body {
    background-color: #f1f1f1;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.navbar-logo {
    width: 64px;
}

.navbar {
    border-bottom: 1px solid #d1d1d1;
}

.link-with-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
}

.link-with-icon img {
    width: 24px;
    height: 24px;
}

.link-with-icon p {
    margin: 0;
    padding: 0;
}

.form-control {
    border-radius: 0;
}

.btn {
    border-radius: 0.15rem;
}

.btn:disabled {
    cursor: default;
}

/*
 * Responsive design CSS
*/

.content-pane {
    width: 60%;
    max-width: 60%;
    min-height: 100px;
    background-color: white;
    border: 1px solid #dfdfdf;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}
