* {
    --NTNUI-green: #008000;
    --NTNUI-red: #fb0000;
    --NTNUI-yellow: #ffff00;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}

.alert-danger {
    margin-top: 2%;
    float: left;
    height: 10%;
    margin-bottom: -2rem;
}

.alert-danger p {
    margin-top: -10px;
}

.alert-message-container {
    z-index: 100;
}
#image-centered {
    margin: auto;
    max-width: 80%;
    max-height: 30rem;
    padding: 20px;
}

#header {
    margin: auto;
    margin-top: -30px;
    text-align: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;

    font-family: "Droid serif", serif;
    font-size: 36px;
    font-weight: 700;
}

#content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    margin: auto;
}

#event-info-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;

    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

#event-labels {
    width: 25%;
    display: flex;
    flex-direction: column;
}

#event-infos {
    width: 50%;
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    border-left: 2px solid;
}

#labels-infos {
    display: flex;
    flex-direction: row;
    padding: 20px 15px 15px 20px;
    justify-content: center;
}

#event-description {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
    background-color: white;
    padding: 20px 15px 20px 15px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

#event-sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
}

#attend-event-button {
    margin-bottom: 20px;
}
.events-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.category-card {
    width: 100%;
}
.category-card-container {
    width: 45%;
}
.card-header-category {
    background-color: white;
    width: 100%;
}
.sub-event-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sub-event-item {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.btn-primary {
    background-color: var(--NTNUI-green) !important;
}

.btn-danger {
    background-color: var(--NTNUI-red) !important;
}

@media only screen and (max-width: 700px) {
    .category-card-container {
        width: 95%;
    }
    #content-container {
        width: 95%;
        flex-wrap: wrap;
        margin-top: 1rem;
    }
    #event-info-container {
        width: 100%;
        margin: 0;
    }
    #event-description {
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
    }
}
