.event-main-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%;
    max-height:30rem;
}
.content-table {
    width: 20rem;
    min-height: 6rem;
    background-color: white;
    border: 1px solid #dfdfdf;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.list-header {
    border-bottom: 1px solid #979797;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    display: flex;
    height: 4rem;
    box-sizing: border-box;
    font-weight: bold;
}
.group-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    box-sizing: border-box;
    padding: 0 2rem;
    margin-bottom: 0;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
}