/**
 * FORMS TABLE
 */

 .forms-list-header {
   width: 100%;
   border-bottom: 1px solid #979797;
   align-items: center;
   justify-content: space-between;
   padding: 0 16px;
   display: flex;
   height: 60px;
   box-sizing: border-box;
 }

 .total-tab-active {
   font-weight: bold;
 }

 .total-tab {
   font-weight: lighter;
 }

 .search-input {
   width: 300px;
 }

 .forms-list {
   display: flex;
   flex-direction: column;
   width: 100%;
 }

 .group-table-row {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   height: 48px;
   box-sizing: border-box;
   padding: 0 16px;
   border-bottom: 1px solid #f0f0f0;
 }

 .forms-header {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   height: 48px;
   box-sizing: border-box;
   padding: 0 16px;
   border-bottom: 1px solid #f0f0f0;
   font-weight: bold;
 }

 .group-member-name-header {
   width: 200px;
 }

 .group-member-phone-header {
   width: 150px;
 }

 .group-member-email-header {
   width: 300px;
 }

 .group-member-paid-header {
   width: 40px;
 }

 .group-member-name {
   width: 200px;
 }

 .group-member-phone {
   width: 150px;
 }

 .group-member-email {
   width: 300px;
 }

 .group-member-paid {
   text-align: center;
   width: 40px;
 }

 .add-new-member {
   width: 100%;
   font-weight: lighter;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   height: 48px;
   box-sizing: border-box;
   padding: 0 16px;
   border-bottom: 1px solid #f0f0f0;
 }

 .add-new-member:hover {
   background-color: #f0f0f0;
 }

 .add-new-button {
   background-color: #ffffff;
   border-radius: 4px;
   text-align: center;
   color: #d0d0d0;
   width: 32px;
   border: 1px solid #d0d0d0;
   margin-right: 16px;
 }

 /*
  * FILL FORM STYLE
  */

.form-save-btn {
  width: 25%;
  text-align: center;
  cursor: pointer;
  align-self: flex-end;
}

.form-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding: 32px;
}

.form-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
}
