.header {
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header-jumbo {
    height: 16rem;
    position: relative;
    color: white;
}

.group-role {
    color: white;
    font-size: 1.25rem;
    position: absolute;
    left: 0;
    bottom: 3.75rem;
    padding: 0.25rem 1.5rem;
    background-color: black;
}

.group-name {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    bottom: 0.5rem;
    padding: 0.25rem 1.5rem;
    background-color: black;
}

.jumbo-background {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    min-width: 100%;
    height: 16rem;
}

.top-menu {
    background: white;
    height: 3rem;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
}

.top-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

.top-menu a {
    height: 52px;
    width: 160px;
    display: block;
    padding-top: 14px;
    box-sizing: border-box;
    text-align: center;
}

.top-menu a:hover {
    color: #007D32;
    border-bottom: 4px solid #017402;
    opacity: 0.8;
}

.vert-divider {
    width: 1px;
    height: 1.5rem;
    background-color: #979797;
}

.group-alert {
    width: 60%;
    margin-bottom: 2rem;
    text-align: center;
}

.active-item {
    border-bottom: 4px solid #017402;
}

.no-border {
    border-right: none;
}

/**
 * MEMBERS TABLE
 */

.content-table {
    width: 60%;
    min-height: 6rem;
    background-color: white;
    border: 1px solid #dfdfdf;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.list-header {
    border-bottom: 1px solid #979797;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    display: flex;
    height: 4rem;
    box-sizing: border-box;
    font-weight: bold;
}

.total-tab-active {
    font-weight: bold;
}

.total-tab {
    font-weight: lighter;
}

#member-search {
    max-width: 40%;
}

.download-field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.members-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.group-table-row {
    position: relative;
    min-height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 0 1rem;
    border-bottom: 1px solid #f0f0f0;
}

.members-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
    box-sizing: border-box;
    padding: 0 16px;
    border-bottom: 1px solid #f0f0f0;
    font-weight: bold;
}

.group-member-name-header {
    width: 230px;
}

.group-member-phone-header {
    width: 120px;
}

.group-member-email-header {
    width: 300px;
}

.group-member-paid-header {
    width: 80px;
}

.group-member-name {
    width: 230px;
}

.group-member-phone {
    width: 120px;
}

.group-member-email {
    width: 300px;
}

.group-member-info-header {
    width: 48px;
}

.group-member-info {
    text-align: center;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 24px;
}

.group-member-info:hover {
    border-bottom: 4px solid #017402;
}

.group-member-paid {
    text-align: center;
    width: 48px;
}

.group-member-settings {
    font-size: 24px;
    width: 48px;
    height: 48px;
}

.group-member-settings a {
    display: block;
    height: 100%;
    text-align: center;
    width: 48px;
    line-height: 48px;
    box-sizing: border-box;
}

.group-member-settings a:hover {
    border-bottom: 4px solid #017402;
    opacity: 0.7;
}

.add-new-member {
    width: 40%;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
    box-sizing: border-box;
    padding: 0 16px;
    border-bottom: 1px solid #f0f0f0;
}

.download-members-button {
    width: 60%;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
    box-sizing: border-box;
    padding: 0 16px;
    border-bottom: 1px solid #f0f0f0;
}

.add-new-member:hover {
    background-color: #f0f0f0;
}

.download-members-button:hover {
    background-color: #f0f0f0;
}

.add-new-button {
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
    color: #007D32;
    width: 2rem;
    border: 1px solid #007D32;
    margin-right: 16px;
}

.download-button {
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
    color: #007D32;
    width: 2rem;
    border: 1px solid #007D32;
    margin-right: 16px;
    padding-left: 2px;
}

/**
 * DOWLOAD MEMBERS
 */

.download-members {
  width: 100%;
  padding: 16px;
}

.download-members h2 {
  padding: 16px 0;
}

.download-options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

/**
 * INVITE MEMBERS
 */

.invite-member-form {
    width: 100%;
    padding: 16px;
}

.invite-member-form h2 {
    padding: 16px 0;
}

/**
* INVITATION LIST
*/

.btn-withdraw {
    position: absolute;
    right: 1rem;
    bottom: 0.55rem;
    border-radius: 0.15rem;
    background: transparent;
    border: 1px solid #d0d0d0;
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
}

/**
REQUEST LIST
 */

.no-btn {
    width: 100%;
    border-color: red;
}

.yes-btn {
    width: 100%;
    margin-right: 5px;
    border-color: #007D32;
}

/**
 * SETTINGS
 */

.group-settings {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    box-sizing: border-box;
    padding: 0 2rem;
    margin-bottom: 0;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
}

.group-settings-description {
    height: 130px;
    padding: 0.5rem 2rem;
}

.group-settings:active {
    opacity: 0.6;
}

.group-settings-right {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    box-sizing: border-box;
    padding: 0 2rem;
    border-bottom: 1px solid #f0f0f0;
}

.group-settings-header {
    color: #606060;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #f0f0f0;
    font-weight: bold;
}

.group-settings-public-check {
    margin-right: 2rem;
}

.group-settings-input {
    width: 54.5%;
    margin-right: 2rem;
}

.group-settings-textarea {
    width: 54.5%;
    word-wrap: break-word;
    resize: none;
    height: 100%;
    margin-right: 2rem;
}

.member-settings-row {
    min-height: 64px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1rem;
}

.member-settings-row-key {
    width: 230px;
    text-align: right;
    padding-right: 2rem;
    font-weight: bold;
}

.member-settings-row-value {
    flex-grow: 1;
    padding-right: 1rem;
}

.member-settings-radios {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}

.member-settings-radios label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.member-settings-radios label input {
    margin-right: 1rem;
}

.member-settings-row-title-subtitle {
    padding: 2rem 1rem;
}

.member-settings-row-title {
    padding-bottom: 0.1rem;
    font-weight: bold;
}

.member-settings-row-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    padding-right: 1rem;
}

.group-settings-button {
    cursor: pointer;
    width: 22%;
}

.group-table-description {
    word-wrap: break-word;
    padding: 2rem;
}

.form-control {
    border-radius: 0;
}

.open-modal {
    cursor: pointer;
}

.open-modal:hover {
    opacity: 0.7;
}
