/**
 * ALL MEMBERS
 */

.allmembers-name-header{
    width: 170px;
}

.allmembers-group-header{
    width: 170px;
}

.allmembers-role-header{
    width: 120px;
}

.allmembers-contact-header{
    width: 280px;
}

.allmembers-name{
    width: 170px;
}

.allmembers-group{
    width: 170px;
}

.allmembers-role{
    width: 120px;
}

.allmembers-contact{
    width: 280px;
}

.download-members {
    width: 100%;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
    box-sizing: border-box;
    padding: 0 16px;
    border-bottom: 1px solid #f0f0f0;
}


.download-members:hover {
    background-color: #f0f0f0;
}

.download-button {
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
    color: #017402;
    width: 32px;
    border: 1px solid #017402;
    margin-right: 16px;
    padding-left: 2px;
}