/**
 * ALL MEMBERS
 */

.download-members {
    height:72px;
    width:100%;
    border-width: thin;
    border-left-color: #6c757d;
    justify-content: center;
}

.download-members:hover {
    background-color: #f0f0f0;
}

.download-button {
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
    color: #017402;
    width: 32px;
    border: 1px solid #017402;
    margin-right: 16px;
    padding-left: 2px;
}
