a {
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.group-no-groups-info {
    margin-top: 1rem;
    color: #222;
}

.list-groups {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width: 800px) {
    .list-groups {
        width: 790px;
    }
}

.list-my-groups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.group-header {
    margin-top: 2rem;
    margin-left: 1rem;
    text-transform: uppercase;
    color: green;
    font-size: 1.5rem;
    max-width: 50%;
    display: inline-block;
}

.search-container {
    display: flex;
    justify-content: space-between;
}

#group-search {
    margin-right: 1rem;
    align-self: flex-end;
    max-width: 50%;
}

#all-groups {
    margin-bottom: 2rem;
}

/**
 * GROUP CARD
 */

.group-card-my-groups {
    padding: 1rem 1rem;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
    display: flex;
    flex-direction: row;
    border: solid 1px #dfdfdf;
    min-height: 8rem;
    width: 100%;
    margin-top: 1rem;
    position: relative;
    align-items: center;
}

@media screen and (min-width: 400px) {
    .group-card-my-groups {
        max-width: 380px;
    }
}

.group-card-all-groups {
    padding: 1rem 1rem;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
    display: flex;
    flex-direction: column;
    border: solid 1px #dfdfdf;
    width: 100%;
    min-height: 7rem;
    margin-top: 1rem;
    position: relative;
    align-items: space-between;
}

.group-card-top-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    height: 36px;
    align-items: center;
}

.group-card:hover {
    opacity: 0.8;
}

.group-card-image {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.group-card-title {
    font-size: 1.5rem;
    font-weight: 600;
}

@media screen and (min-width: 500px) {
    .group-card-title {
        font-size: 2rem;
    }

    .group-card-top-row {
        height: 4rem;
    }

    .group-card-image {
        width: 4rem;
        height: 4rem;
    }
}

.group-card-description {
    margin: 0 4rem 0 0;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.group-card-description-expanded {
    margin: 0 4rem 0 0;
    max-width: 100%;
    word-wrap: break-word;
}

.group-card-read-more {
    align-self: flex-start;
    margin-top: 0.5rem;
    color: green;
}

.group-card-read-more:hover {
    color: limegreen;
    cursor: pointer;
}

.group-card-read-more-hidden {
    display: none;
}

.group-card-open {
    line-height: 1rem;
    color: green;
    position: absolute;
    top: 1.25rem;
    right: 1.5rem;
    flex-shrink: 0;
}

.group-card-restricted {
    line-height: 1rem;
    color: #d7d700;
    position: absolute;
    top: 1.25rem;
    right: 1.5rem;
    flex-shrink: 0;
}
