a {
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.group-no-groups-info {
    margin-top: 16px;
    color: #222;
}

.list-groups {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.list-my-groups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.group-header {
    margin-top: 32px;
    text-transform: uppercase;
    color: green;
    font-size: 24px;
}

/**
 * GROUP CARD
 */

.group-card-my-groups {
    padding: 16px 32px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
    display: flex;
    flex-direction: row;
    border: solid 1px #dfdfdf;
    width: 49%;
    min-height: 132px;
    margin-top: 16px;
    position: relative;
}

.group-card-all-groups {
    padding: 16px 32px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
    display: flex;
    flex-direction: row;
    border: solid 1px #dfdfdf;
    width: 100%;
    min-height: 132px;
    margin-top: 16px;
    position: relative;
}

.group-card:hover {
    opacity: 0.8;
}

.group-card-image {
    min-width: 100px;
    width: 100px;
    height: 100px;
}

.group-card-info {
    color: black;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.group-info h2 {
    color: #008000;
}

.group-info p {
    margin: 0;
}

.group-card-open {
    /*Group doesn't understand this :( */
    /*width: 1rem;
    height: 1rem;
    color: green;
    border: solid 3px;
    border-radius: 50%;

    margin-left: auto;
    flex-shrink: 0;*/

    line-height: 1rem;
    color: green;
    margin-left: auto;
    position: absolute;
    top: 20px;
    right: 24px;
    flex-shrink: 0;
}
