{% extends 'base.html' %}

{% load static %}

{% block title %}Change password{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
  <div class="container py-3">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Change password</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-success btn-block">Change password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
