{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Reset your password{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <div class="logo-container">
            <img src="{% static 'img/ntnui.svg' %}" alt="NTNUI" class="logo" />
          </div>
          <h3 class="login-title">Reset your password</h3>
          <p>Enter your email address and we will send you a link to reset your password.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          <a class="reset-password" href="{% url 'login' %}">Back to login</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}