{% extends 'groups/group_base.html' %}

{% load static %}

{% block group_content %}
  {% if show_members %}
    <div class="content-table">
      <div class="list-header">
        <a href="{% url 'group_members' slug=slug %}"
          class="{% if active_tab == 'members' %}total-tab-active{% else %}total-tab{% endif %}">
            {{ total_members }} member{{ total_members|pluralize }}</a>
        <a href="{% url 'group_invitations' slug=slug %}"
          class="{% if active_tab == 'invitations' %}total-tab-active{% else %}total-tab{% endif %}">
            {{ total_invitations }} invitation{{ total_invitations|pluralize }}</a>
        <a href="{% url 'group_requests' slug=slug %}"
           class="{% if active_tab == 'requests' %}total-tab-active{% else %}total-tab{% endif %}">
          {{ total_requests }} request{{ total_requests|pluralize }}</a>
      {% if active_tab == 'members' %}
        <input type="text" id="member-search" class="form-control"
               placeholder="Search for group member.." aria-label="Search for group member.." />
      {% else %}
        <div id="member-search-placeholder"></div>
      {% endif %}
      </div>
      <div class="members-list">
        {% block table_content %}
        {% endblock %}
      </div>
    </div>
  {% else %}
    <div class="content-table">
      <div class="group-table-description">
        You do not have permissions to see this.
      </div>
    </div>
  {% endif %}
{% endblock %}
