{% extends 'groups/group_members_base.html' %}

{% block table_content %}
    <div class="members-header">
      <div class="group-column-20">Name</div>
      <div class="group-column-15">Phone</div>
      <div class="group-column-40">E-mail</div>
      <div class="group-column-20">Accept</div>
    </div>

    {% for request in requests %}
    <div class="group-table-row">
      <div class="group-column-20">{{ request.person.first_name }} {{ request.person.last_name }}</div>
      <div class="group-column-15">{{ request.person.phone }}</div>
      <div class="group-column-40">{{ request.person.email }}</div>
      <div class="group-column-20">
          <form method="post" class="request-buttons">
              {% csrf_token %}
              <input type="hidden" name="request_id" value="{{ request.pk }}"/>
              <input type="submit" name="result" value="Yes" class="btn btn-outline-success btn-sm yes-btn" />
              <input type="submit" name="result" value="No" class="btn btn-outline-danger btn-sm no-btn" />
          </form>
      </div>
    </div>
    {% endfor %}
{% endblock %}
