{% extends 'groups/group_base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/groups.css' %}" />
	<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock %}

{% block group_content %}

<div class="content-table">
	<div class="list-header">
		<a href="{% url 'forms_list' slug=slug %}" class="forms-name-header">Forms</a>
	</div>
  
  {% for form in forms %}
    {% block table_row %}
    {% endblock %}
  {% endfor %}
</div>

{% endblock group_content %}
