{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NTNUI</title>

</head>
<body>

    <H3>{% trans 'Thank you for signing up for' %} {{ event.name }}.</H3> <br>
    <i>{% trans 'Start date' %}: {{ event.start_date }}.</i><br>
    <i>{% trans 'End date' %}: {{ event.end_date }}.</i><br>
    <p>
        {{ event.description.custom_email_text }}
        <br>
        <br>
        <i>{% trans 'Event description' %}:</i>
        <br>
        {{ event.description }}
        <br>
        <br>
        {% trans 'If you cannot attend the event, please use the sign-off link' %}:
        <a href="{{ request.get_host }}/events/remove-attendance/{{ token }}">
            {{ request.get_host }}/events/remove-attendance/{{ token }}
        </a>.
    </p>

</body>
</html>
