{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/groups.css' %}">
{% endblock %}

{% block content %}
  <div class="group-content">

  <div class="header">
    <div class="header-jumbo">
      <img
          class="jumbo-background"
          src="{% static board.cover_photo %}"
          alt="NTNUI Volleyball"/>
      <div class="group-name">Main Board</div>
    </div>
    <div class="top-menu">
      <ul>
        <li><a href="{% url 'all_members' %}" class="{% if active_tab == 'all_members' %}active-item{% endif %}">All members</a></li>
        <li><div class="vert-divider"></div></li>
        <li><a href="{% url 'hs_settings' %}" class="{% if active_tab == 'hs_settings' %}active-item{% endif %}">Settings</a></li>
      </ul>
    </div>
  </div>

  {% block hs_content %}
  {% endblock %}

  </div>
{% endblock content %}
