{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/groups.css' %}">
{% endblock %}

{% block content %}

  <div class="header">
    <div class="header-jumbo">
      <img
          class="jumbo-background"
          src="{% static 'img/groups/ntnui-volleyball.png' %}"
          alt="NTNUI Volleyball"/>
      <div class="group-name">Hovedstyret</div>
    </div>
    <div class="top-menu">
      <ul class="top-menu-list">
        <li><a href="{% url 'all_members' %}" class="{% if active == 'all members' %}active-item{% endif %}">All members</a></li>
      </ul>
    </div>
  </div>

  {% block all_members %}
  {% endblock %}


{% endblock content %}
