{% extends 'groups/group_base.html' %}

{% block group_content %}

  <div class="content-table">
    <div class="list-header">
      About {{ group.name }}
      <form method="post" novalidate>
        {% csrf_token %}
        {% if joined == False %}
          {% if group.public %}
            <input type="submit" class="btn btn-success" name="join-group" value="Join" />
          {% else %}
            {% if sent_request == False %}
              <input type="submit" class="btn btn-success" value="Ask to join" />
            {% else %}
              <button disabled class="btn btn-disabled btn-pending">Request pending</button>
            {% endif %}
          {% endif %}
        {% endif %}
      </form>
    </div>

    <div class="group-table-description">
      {{ group.description }}
    </div>
  </div>

  {% if show_board %}
    <div class="content-table">
      <div class="list-header">
        The Board
      </div>

      <div class="members-header">
        <div class="group-column-20">Name</div>
        <div class="group-column-50">E-mail</div>
        <div class="group-column-20">Role</div>
      </div>

      {% for core in board_core %}
        <div class="group-table-row">
          <div class="group-column-20">{{ core.membership.person.first_name }} {{ core.membership.person.last_name }}</div>
          <div class="group-column-50">{{ core.membership.person.email }}</div>
          <div class="group-column-20">{{ core.role }}</div>
        </div>
      {% endfor %}

      {% for membership in board_members %}
        <div class="group-table-row">
          <div class="group-column-20">{{ membership.person.first_name }} {{ membership.person.last_name }}</div>
          <div class="group-column-50">{{ membership.person.email }}</div>
          <div class="group-column-20">{{ membership.role }}</div>
        </div>
      {% endfor %}

    </div>
  {% endif %}
{% endblock %}
