{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/groups.css' %}" />
{% endblock %}

{% block content %}
<div class="header">
  <div class="header-jumbo">
    <img
      class="jumbo-background"
      src="{% static 'img/groups/ntnui-volleyball.png' %}"
      alt="NTNUI Volleyball" />
    <div class="group-name">{{ group.name }} ({{ role }})</div>
  </div>
  <div class="top-menu">
    <ul class="top-menu-list">
      <li><a href="{% url 'group_index' slug=slug %}" class="{% if active == 'about' %}active-item{% endif %}">About</a></li>
      {% if show_forms %}
      <li><div class="vert-divider"></div></li>
      <li><a href="{% url 'forms_list' slug=slug %}" class="{%if active == 'forms' %}active-item{% endif %}">Forms</a></li>
      {% endif %}
      {% if show_members %}
        <li><div class="vert-divider"></div></li>
        <li><a href="{% url 'group_members' slug=slug %}" class="{% if active == 'members' %}active-item{% endif %}">Members</a></li>
      {% endif %}
      {% if show_settings %}
        <li><div class="vert-divider"></div></li>
        <li><a href="{% url 'group_settings' slug=slug %}" class="{% if active == 'settings' %}active-item{% endif %}">Settings</a></li>
      {% endif %}
    </ul>
  </div>
</div>
  {% block group_content %}

  {% endblock %}

{% endblock %}
