{% extends 'groups/group_base.html' %}

{% block group_content %}
  <div class="content-table">

  {% if show_group_settings %}
    <div class="members-list-header">
      Group Settings
    </div>
    <form method="post" novalidate>
      {% csrf_token %}
      <label class="group-settings">
        Should group be open for people to join
          <input type="checkbox" class="group-settings-public-check" name="public"
                 {% if group.public %}checked{% endif %}/>
      </label>

      <div class="group-settings-right">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success settings-alert" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
        <input type="submit" name="save-settings" class="btn group-settings-save-btn btn-success"
               value="Change settings"/>
      </div>
    </form>
  {% endif %}

    {% if joined and show_leave_button %}
      <div class="members-list-header">
        Your Settings
      </div>
      <form method="post" novalidate>
        {% csrf_token %}
        <label class="group-settings">
          Do you want to leave the group?
          <input type="submit" name="leave-group" class="btn group-settings-leave-button
        btn-outline-danger"
                 value="Leave Group"/>
        </label>
      </form>
    {% endif %}
  </div>
{% endblock %}
