{% load static %}

{% block card %}
  {% if group in my_groups %}
    <a class="group-card-my-groups" href={% url 'group_index' slug=group.slug %}>
    <img class="group-card-image" src="{% static group.thumbnail %}"/>
    <div class="group-card-info">
      <h2>{{ group.name }}</h2>
    </div>
    </a>
  {% else %}
    <div class="group-card-all-groups">
      <a href={% url 'group_index' slug=group.slug %}>
          <img class="group-card-image" src="{% static group.thumbnail %}"/>
      </a>
      <div class="group-card-info">
        <a href={% url 'group_index' slug=group.slug %}>
          <h2>{{ group.name }}</h2>
        </a>
        <p>{{ group.description }}</p>
        <button class="group-card-read-more">Read more</button>
      </div>
      {% if group.public %}
        <div class="group-card-open">Open</div>
      {% else %}
        <div class="group-card-open">Restricted</div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
