{% load static %}

{% block card %}
  {% if group in my_groups %}
    <a class="group-card-my-groups" href={% url 'group_index' slug=group.slug %}>
    <img class="group-card-image" src="{% static group.thumbnail %}"/>
    <div class="group-card-info">
      <h2>{{ group.name }}</h2>
    </div>
    </a>
  {% else %}
    <a class="group-card-all-groups" href={% url 'group_index' slug=group.slug %}>
      <img class="group-card-image" src="{% static group.thumbnail %}"/>
      <div class="group-card-info">
        <h2>{{ group.name }}</h2>
        <p>{{ group.description }}</p>
        <div>Read more</div>
      </div>
      {% if group.public %}
        <div class="group-card-open">Open</div>
      {% else %}
        <div class="group-card-open">Restricted</div>
      {% endif %}
    </a>
  {% endif %}

{% endblock %}
