{% extends 'groups/group_base.html' %}

{% block group_content %}
  <div class="content-table">
    {% if show_group_settings %}
      <div class="list-header">
        Group Settings
      </div>
      <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="group-settings-header">Admittance Options</div>
        <label class="group-settings form-check">
          <span><b>Open:</b> People can join and leave the group as they please.</span>
          <input type="radio" class="group-settings-public-check"
                 name="public" value="True"
                 {% if group.public %}checked{% endif %}/>
        </label>
        <label class="group-settings form-check">
          <span><b>Restricted:</b> People have to request access to the group, which then has to be
            approved by someone in the group board.</span>
          <input type="radio" class="group-settings-public-check"
                 name="public" value="False"
                 {% if not group.public %}checked{% endif %}/>
        </label>

        <div class="group-settings-header">Group Description</div>
        <label class="group-settings group-settings-description">
          Description
          <textarea name="description" class="group-settings-textarea"
                    placeholder="Change group description here..."
                    maxlength="200">{{ group.description }}</textarea>
        </label>

        <div class="group-settings-header">Group Images</div>
        <label class="group-settings">Thumbnail (100x100)
          <input type="file" name="thumbnail" class="group-settings-input" accept="image/*"/>
        </label>
        <label class="group-settings">Cover Photo (790x260)
          <input type="file" name="cover_photo" class="group-settings-input" accept="image/*"/>
        </label>

        <div class="group-settings-right">
          <input type="submit" name="save-settings" class="btn group-settings-button btn-success"
                 value="Change settings"/>
        </div>
      </form>
    {% endif %}

    {% if joined and show_leave_button %}
      <div class="list-header">
        Your Settings
      </div>
      <form method="post" novalidate>
        {% csrf_token %}
        <label class="group-settings">
          Do you want to leave the group?
          <input type="submit" name="leave-group" class="btn group-settings-button
          btn-outline-danger" value="Leave Group"/>
        </label>
      </form>
    {% else %}
      <div class="no-settings">
        Board members cannot leave the group.
      </div>
    {% endif %}
  </div>
{% endblock %}
