{% extends 'groups/group_base.html' %}

{% block group_content %}
  <div class="content-table">
    <div class="members-list-header">
      <a href="{% url 'group_members' slug=slug %}" class="{% if active_tab == 'members' %}total-tab-active{% else %}total-tab{% endif %}">{{ total_members }} member{{ total_members|pluralize }}</a>
      <a href="{% url 'group_invitations' slug=slug %}" class="{% if active_tab == 'invitations' %}total-tab-active{% else %}total-tab{% endif %}">{{ total_invitations }} invitation{{ total_invitations|pluralize }}</a>
      <div class="{% if active_tab == 'requests' %}total-tab-active{% else %}total-tab{% endif %}">{{ 0 }} requests</div>
      <input class="search-input form-control" type="text" placeholder="Search for group members" disabled />
    </div>

    <div class="members-list">
      <div class="members-header">
        <div class="group-member-name-header">Name</div>
        <div class="group-member-phone-header">Phone</div>
        <div class="group-member-email-header">E-mail</div>
        <div class="group-member-paid-header"></div>
      </div>

      <a href="{% url 'group_invite_member' slug=slug %}" class="add-new-member">
        <div class="add-new-button">+</div>
        <div class="add-new-text">Invite new member</div>
      </a>

      {% for invitation in invitations %}
        <div class="group-table-row">
          <div class="group-member-name">{{ invitation.person.first_name }} {{ invitation.person.last_name }}</div>
          <div class="group-member-phone">{{ invitation.person.phone }}</div>
          <div class="group-member-email">{{ invitation.person.email }}</div>
          <div class="group-member-paid"><input type="submit" value="Withdraw" class="btn-withdraw" /></div>
        </div>
      {% endfor %}
    </div>
{% endblock %}
