{% extends 'groups/group_members_base.html' %}

{% block table_content %}
  {% if show_new_invitation %}
    <div class="invite-member-form">
      <h2>Invite member to group</h2>
      <form method="POST">
        <p>Fill in the email of the person you want to invite to your group.</p>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-primary">Invite person</button>
      </form>
    </div>
  {% else %}
    <div class="group-table-description">
      You do not have permission to view this page.
    </div>
  {% endif %}

{% endblock %}
