{% extends 'groups/group_members_base.html' %}

{% load static %}

{% block table_content %}
    <div class="members-header">
      <div class="group-member-name-header">Name</div>
      <div class="group-member-phone-header">Phone</div>
      <div class="group-member-email-header">E-mail</div>
      <div class="group-member-paid-header"></div>
    </div>

    {% if show_new_invitation %}
    <a class="add-new-member" href="{% url 'group_invite_member' slug=slug %}">
        <img class="add-new-member-icon" src="{% static 'img/invite-icon.svg' %}" alt="Invite member"/>
        <div class="add-new-text">Invite new member</div>
    </a>
    {% endif %}

    {% for invitation in invitations %}
    <div class="group-table-row">
      <div class="group-member-name">{{ invitation.person.first_name }} {{ invitation.person.last_name }}</div>
      <div class="group-member-phone">{{ invitation.person.phone }}</div>
      <div class="group-member-email">{{ invitation.person.email }}</div>
      <div class="group-member-paid">
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="invitation-id" value="{{ invitation.pk }}" />
          <input type="submit" value="Withdraw" class="btn-withdraw" name="withdraw-invitation" />
        </form>
      </div>
    </div>
    {% endfor %}
{% endblock %}
