{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/list_groups.css' %}">
{% endblock %}

{% block content %}
    <div class="list-groups">
        <h1 class="group-header">
            My groups
        </h1>
        {% for group in myGroups %}
            {% include "groups/group_card.html" with name=group.name description=group.description%}
        {% endfor %}
        <h1 class="group-header">
            All groups
        </h1>
        {% for group in allGroups %}
            {% include "groups/group_card.html" with name=group.name description=group.description %}
        {% endfor %}

    </div>

{% endblock %}
