{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/list_groups.css' %}">
{% endblock %}

{% block content %}
  <div class="list-groups">
    <h1 class="group-header">
        My groups
    </h1>
    {% if myGroups %}
      {% for group in myGroups %}
          {% include "groups/group_card.html" with group=group %}
      {% endfor %}
    {% else %}
      <div class="group-no-groups-info">You are not a member of any groups. Find a group today!</div>
    {% endif %}

    <h1 class="group-header">
        All groups
    </h1>
    {% for group in allGroups %}
        {% include "groups/group_card.html" with group=group %}
    {% endfor %}
  </div>
{% endblock %}
