{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/groups.css' %}">
{% endblock %}

{% block content %}

  <div class="header">
    <div class="header-jumbo">
      <img
        class="jumbo-background"
        src="{% static 'img/groups/ntnui-volleyball.png' %}"
        alt="NTNUI Volleyball" />
      <div class="group-name">{{ group.name }}</div>
    </div>
    <div class="top-menu">
      <ul class="top-menu-list">
        <li><a href="#">Board</a></li>
        <li><div class="vert-divider"></div></li>
        <li><a href="#">Forms</a></li>
        <li><div class="vert-divider"></div></li>
        <li><a href="#" class="active-item">Members</a></li>
        <li><div class="vert-divider"></div></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>
  </div>

  <div class="members-table">
    <div class="members-list-header">
      <div class="total-members">139 members</div>
      <input class="search-input form-control" type="text" placeholder="Search for group members" />
    </div>

    <div class="members-list">
      <div class="members-header">
        <div class="group-member-name-header">Name</div>
        <div class="group-member-phone-header">Phone</div>
        <div class="group-member-email-header">E-mail</div>
        <div class="group-member-paid-header">Betalt</div>
      </div>

      {% for member in members %}
        <div class="group-member">
          <div class="group-member-name">{{ member.person.first_name }} {{ member.person.last_name }}</div>
          <div class="group-member-phone">{{ member.person.phone }}</div>
          <div class="group-member-email">{{ member.person.email }}</div>
          <div class="group-member-paid">
            <input type="checkbox" value="" {% if member.paid %}checked{% endif %}>
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}
