{% extends 'groups/group_members_base.html' %}

{% load static %}

{% block table_content %}

  <div class="download-field">
    {% if show_new_invitation %}
      <a class="add-new-member" href="{% url 'group_invite_member' slug=slug %}">
        <img class="add-new-member-icon" src="{% static 'img/invite-icon.svg' %}" alt="Invite member"/>
        <div class="add-new-text">Invite new member</div>
      </a>

    {% endif %}
    <a class="download-members-button" href="{% url 'download_members' slug=slug %}">
      <img class="download-icon" src="{% static 'img/download-icon.svg' %}" alt="Download members"/>
      <div class="add-new-text">Download members list</div>
    </a>
  </div>

{% if show_members %}
  <div class="members-header">
    <div class="group-column-20">Name</div>
    <div class="group-column-20">Phone</div>
    <div class="group-column-40">E-mail</div>
    <div class="group-column-5"></div>
    <div class="group-column-5"></div>
  </div>


  {% for member in members %}
  <div class="group-table-row">
    <div class="group-column-20">{{ member.person.first_name }} {{ member.person.last_name }}</div>
    <div class="group-column-20">{{ member.person.phone }}</div>
    <div class="group-column-40">{{ member.person.email }}</div>
    <div class="group-column-5 group-member-settings open-modal" href="/groups/{{ slug }}/ajax/member/{{ member.pk }}">
      <img src="{% static 'img/info-icon.svg' %}" alt="Info"/>
    </div>
    <div class="group-column-5 group-member-settings">
      <a href="{% url 'group_member_settings' slug=slug member_id=member.pk %}">
        <img src="{% static 'img/settings-icon.svg' %}" alt="Member settings"/>
      </a>
    </div>
  </div>
  {% endfor %}

  <div id="modal-container"></div>

  {% endif %}

{% endblock %}

{% block script %}
  <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/search_functions.js' %}"></script>
{% endblock %}
