{% extends 'groups/group_members_base.html' %}

{% block table_content %}
    <div class="members-header">
      <div class="group-member-name-header">Name</div>
      <div class="group-member-phone-header">Phone</div>
      <div class="group-member-email-header">E-mail</div>
      <div class="group-member-paid-header">Can I join?</div>
    </div>

    {% for request in requests %}
    <div class="group-table-row">
      <div class="group-member-name">{{ request.person.first_name }} {{ request.person.last_name }}</div>
      <div class="group-member-phone">{{ request.person.phone }}</div>
      <div class="group-member-email">{{ request.person.email }}</div>
      <div>
          <form class="group-member-paid" method="post">
              {% csrf_token %}
              <input type="hidden" name="request_id" value="{{ request.pk }}"/>
              <input type="submit" name="result" value="Yes" class="btn btn-outline-success btn-sm" />
              <input type="submit" name="result" value="No" class="btn btn-outline-danger btn-sm" />
          </form>
      </div>
    </div>
    {% endfor %}
{% endblock %}