input:focus:invalid  {
    border: 1px solid darkred;
}

input:focus:valid {
    border: 1px solid darkgreen;
}

textarea:focus:invalid  {
    border: 1px solid darkred;
}

textarea:focus:valid {
    border: 1px solid darkgreen;
}

.error-input {
  display:block;
  margin-top: 2%;
  float: left;
  height: 2rem;
  margin-bottom: -1rem;
}

.error-input p {
  margin-top: -10px;
}


.col-2 {
  margin-bottom: 5%;
}

#cont1 {
  float: left;
  width: 50%
}

#cont2 {
  float: right;
  width: 50%
}

h1 {
  margin-top: 1%;
  margin-bottom: 2%;
}

.btn-success {
  margin-left: 20%;
}
.card-header-category {
    background-color: white;
    width: 100%;
}
.create-sub-event{
    float:right;
}
.sub-event-header{
    float:left;
}
