input:focus:invalid  {
    border: 1px solid darkred;
}

input:focus:valid {
    border: 1px solid darkgreen;
}

textarea:focus:invalid  {
    border: 1px solid darkred;
}

textarea:focus:valid {
    border: 1px solid darkgreen;
}

.error-input {
  display:block;
  margin-top: 2%;
  float: left;
  height: 2rem;
  margin-bottom: -1rem;
}

.error-input p {
  margin-top: -10px;
}


.col-2 {
  margin-bottom: 5%;
}

#cont1 {
  float: left;
  width: 50%
}

#cont2 {
  float: right;
  width: 50%
}

h1 {
  margin-top: 1%;
  margin-bottom: 2%;
}

.btn-success {
  margin-left: 20%;
}
.card-header-category {
    background-color: white;
    width: 100%;
}
.create-sub-event{
    float: right;
    color:black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.5rem;
    margin:1rem;
    margin-top:0;
    margin-bottom: 0;
    border-radius: 2rem;
    border: lightgrey solid 0px;
}
.create-sub-event >label {
    margin: 0;
}
.sub-event-header{
    float:left;
}
.center-content {
    display:flex;
    justify-content: center;
    align-items: center;
}
.sub-event-card-container {
    display:grid;
    grid-template-columns: 20% 60% 20%;
}
.sub-event-name {
    grid-column-start: 1;
    grid-column-end: 2;
}
.sub-event-dateime {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}
.sub-event-button-container {
    grid-column-start: 3;
    grid-column-end: 4;
}

.delete-sub-event-button{
    float: right;
    height: 100%;
    padding-right:.9rem;
}
.img-cross {
    width:1rem;
}





