* {
    --NTNUI-green: #008000;
    --NTNUI-red: #fb0000;
    --NTNUI-yellow: #ffff00;
}



.error-input {
    display: block;
    margin-top: 2%;
    float: left;
    height: 10%;
    margin-bottom: -2rem;
}

.error-input p {
    margin-top: -10px;
}

.alert-message-container {
    z-index: 100;
}



#content-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}


#event-info-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: white;

    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

#event-labels {
    width: 25%;
    display: flex;
    flex-direction: column;
}

#event-infos {
    width: 50%;
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    border-left: 2px solid;
}

#labels-infos {
    display: flex;
    flex-direction: row;
    padding: 20px 15px 15px 20px;
    justify-content: center;
}

#event-description {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    background-color: white;
    padding: 20px 15px 20px 15px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

#event-sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
}

#attend-event-button {
    margin-bottom: 20px;
}

#event-edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

#edit-event-button {
    margin-bottom: 20px;
}

#event-delete {
    display: flex;
    align-items: center;
    justify-content: center;
}

#confirm-delete {
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.events-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-div {
    display: flex;
    align-content: center;
    color: white;
}

.category-card {
    width: 100%;
}

.category-card-container {
    width: 100%;
}

.card-header-category {
    background-color: white;
    width: 100%;
}

.sub-event-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-event-item {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: var(--NTNUI-green) !important;
}

.btn-danger {
    background-color: var(--NTNUI-red) !important;
}




@media only screen and (max-width: 700px) {
    .category-card-container {
        width: 95%;
    }

    #content-container {
        width: 95%;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    #event-info-container {
        width: 100%;
        margin: 0;
    }

    #event-description {
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
    }

    #image-centered {
        max-width: 95%;
        max-height: 100%;
    }
}
