* {
    --NTNUI-green: #008000;
    --NTNUI-red: #fb0000;
    --NTNUI-yellow: #ffff00;
}

.error-input {
    display: block;
    margin-top: 2%;
    float: left;
    height: 10%;
    margin-bottom: -2rem;
}

.error-input p {
    margin-top: -10px;
}

.alert-message-container {
    z-index: 100;
}

#content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.event-left-container {
    order: 1;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;

}

.event-labels {
    margin-right:.6rem;
}

.list-info-container {
    padding-left: 10px;
    flex-direction: column;
    border-left: 2px solid;
}

.list-container {
    display: flex;
    flex-direction: row;
    padding: 20px 15px 15px 20px;
    justify-content: center;
}

.event-right-container {
    order: 2;
    margin-bottom: 20px;
    width: 50%;
    background-color: white;
    padding: 20px 15px 20px 15px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.event-description-container {
    background-color: white;
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: .3rem;
}

#event-sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
}

#attend-event-button {
    margin-bottom: 20px;
}

#event-edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

#edit-event-button {
    margin-bottom: 20px;
}

#event-delete {
    display: flex;
    align-items: center;
    justify-content: center;
}

#confirm-delete {
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.events-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-div {
    display: flex;
    align-content: center;
    color: white;
}

.category-card {
    width: 100%;
    margin-bottom: 1rem;
}

.category-card-container {
    width: 100%;
}

.card-header-category {
    background-color: white;
    width: 100%;
}

.sub-event-main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-event-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    padding: 1rem;
}

.sub-event-row-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: .5rem;

}

.sub-event-title-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 30%;
    padding: 1rem;
}

.sub-event-item {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: var(--NTNUI-green) !important;
}

.btn-danger {
    background-color: var(--NTNUI-red) !important;
}

.button-title-container {
    display: flex;
    align-items: center;
    margin-left: .4rem;
}

.join-subevent-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 15rem;

}

.sign-up-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sub-event-col {
    display: flex;
    align-items: center;
    width: 30%;
    min-width: 11rem;
}

.border-container {
    border-top: 1px dashed green;
}



@media only screen and (max-width: 991px) {
    .category-card-container {
        width: 95%;
    }

    #content-container {
        width: 95%;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    #event-info-container {
        width: 100%;
        margin: 0;
    }

    #event-description {
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
    }

    .event-right-container {
        width: 100%;
    }

    .event-left-container {
        width: 100%;
        margin-bottom: 0;

    }

    .sub-event-container {
        width: 100%;
        padding: .2rem;
    }

    .sub-event-title-container {
        width: 100%;
        padding: .2rem;
    }

    .sub-event-row-container {
        padding: .1rem;
    }

    .sub-event-main-container {
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 700px) {
    .sub-event-container {
        flex-wrap: wrap-reverse;
    }

    .border-container {
        border: 0;
    }

}
