* {
  --NTNUI-green: #008000;
  --NTNUI-red: #FB0000;
  --NTNUI-yellow: #FFFF00;
}

.event-main-page-container {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-height: 30rem;
    grid-template-columns: 20% 60% 20%;
    margin-top: 2rem;
}

#main {
    grid-column: 2;
}
.card-container {
    padding:0;
}
#accordion {
    grid-row: 1;
    grid-column: 1;
    margin-left: 10%;
    margin-right: 10%;
    width:80%;
}

#headingOne {
    background-color: white;
}
.checkbox-label  {
    padding-left:1rem;
}
.create-event {
    grid-column: 3;
    grid-row: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.buttons {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.content-table {
    width: 20rem;
    min-height: 6rem;
    background-color: white;
    border: 1px solid #dfdfdf;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.list-header {
    border-bottom: 1px solid #979797;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    display: flex;
    height: 4rem;
    box-sizing: border-box;
    font-weight: bold;
}

filter-element-height {
    max-height: 2rem;
}

.filter-element {
    max-width: 80%;
    width: 80%;
    max-height: 2rem;
    margin: 0.5rem;
}


.form-control-select {
    height: 2rem;
    border: 1px solid lightgrey;
    color: darkgray;
}

.btn-success {
  background-color: var(--NTNUI-green) !important;
}

#search {
    /*max-width: 20rem;*/
    calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    margin-left: 10%;
    margin-right: 10%;
}

#search {
    calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    margin-left: 10%;
    margin-right: 10%;
}

#to-date {
    calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
}

#from-date {
    calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
}

.form-control-select {
    width: 100%;
}

label.custom-control.custom-checkbox:checked + label::before {
    margin-top: 1%;
    margin-left: 2%;
}

.custom-checkbox input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #000;
}
.card-element {
    background-color: white;
    display:flex;

}
.card-element-container {

}
.card-body-container {
    padding:0rem;
    margin:0rem;
}

.card-name {

    text-align: center;
    margin-top: 2%;
    text-transform: uppercase;
}

.card-link {
    text-align: center;
    margin-bottom: 2%;
}

.card-text {
    margin-left: 2%;
}

.col-10 {
    margin-bottom: 2%;
}

.top-menu {
    background: white;
    height: 3rem;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    width: 100%;
}

.top-menu {
    background: white;
    height: 3rem;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
}

.top-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.top-menu ul li:nth-child(2n-1) {
    flex-grow: 1;
}

.top-menu a {
    flex-grow: 1;
    height: 52px;
    display: block;
    padding-top: 14px;
    box-sizing: border-box;
    text-align: center;
}

.top-menu a:hover {
    color: #007D32;
    border-bottom: 4px solid #007D32;
    opacity: 0.8;
}

.header-container {
    margin-top:2rem;
    width:100%;
}
.active-item {
    border-bottom: 4px solid #007D32;
}
#container {
    width: 50%;
    max-width:80rem;
}


#header {
    z-index: 100;
    margin: auto;
    margin-top: -30px;
    text-align: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    font-family: "Droid serif", serif;
    font-size: 36px;
    font-weight: 700;

}

@media only screen and (max-width: 700px) {

    .filter-element .form-control-select  #search .create-event #main .buttons {
        width: 100%;
        max-width: 100%;
    }

    .create-event {
        margin-left: 0;
    }


    .event-main-page-container {
        display: block;
    }
}
