{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/create_new_event.css' %}">
{% endblock %}
    {% block title %}NTNUI - Create events{% endblock %}

    {% block content %}

        <h1>{% trans 'Create new event:' %}</h1>
        <form id="create-event-form" >{% csrf_token %}
            <div class="form-group row">
              <label class="col-2 col-form-label">{% trans 'Name norwegian' %}</label>
              <div class="col-10">
                <input class="form-control" onblur="return validateName_no()" pattern="^[a-zA-ZæøåÆØÅ\s]*$" type="text" name="name_no" required>
              </div>
                <div class="invalid-message">
                <p id="name_no_message"></p>
                    </div>
            </div>
            <div class="form-group row">
              <label class="col-2 col-form-label">{% trans 'Name english' %}</label>
              <div class="col-10">
                <input class="form-control" onblur="return validateName_en()" pattern="^[a-zA-Z\s]*$" type="text" name="name_en" required>
              </div>

                <div class="invalid-message">
                    <p id="name_en_message"></p>
            </div>
            </div>
              <div class="form-group row">
                <label class="col-2 col-form-label">{% trans 'Host' %}</label>
                  <div class="col-10">
                    <select class="form-control" name="host" required>
                        {% for group in groups %}
                            <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                  </div>
              </div>
            <div class="form-group row">
              <label class="col-2 col-form-label">{% trans 'Start date:' %}</label>
              <div class="col-10">
                   <input class="form-control" type="datetime-local" onblur="return validateStart_date()" name="start_date" required>
              </div>
                <div class="invalid-message">
                <p id="start_date_message"></p>
                    </div>
            </div>
            <div class="form-group row">
              <label class="col-2 col-form-label">{% trans 'To date:' %}</label>
              <div class="col-10">
                   <input class="form-control" type="datetime-local" onblur="return validateEnd_date()" name="end_date" required>
              </div>
                <div class="invalid-message">
                <p id="end_date_message"></p>
                    </div>
            </div>
            <div class="form-group row">
              <label class="form-check-label">
                <input name="priority" type="checkbox" value="True">
                {% trans 'Priority' %}
              </label>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">{% trans 'Description norwegian' %}</label>
              <div class="col-10">
                  <textarea class="form-control" type="textArea" onblur="return validateDescription_text_no()" name="description_text_no" required></textarea>
              </div>
                <div class="invalid-message">
                <p id="description_no_message"></p>
                    </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">{% trans 'Description english' %}</label>
              <div class="col-10">
                  <textarea class="form-control" type="textArea" onblur="return validateDescription_text_en()" name="description_text_en" required></textarea>
              </div>
                <div class="invalid-message">
                <p id="description_en_message"></p>
                    </div>
            </div>
        <div class="alert-message-container">

        </div>
            <button id="create-event-button" type="button" class="btn btn-success">{% trans 'Create event' %}</button>
        </form>

    {% endblock %}
{% block script %}
     <script type="text/javascript" src="{% static 'js/create_new_event.js' %}"></script>
{% endblock %}