{% extends 'base.html' %}

    {% block title %}NTNUI - Create events{% endblock %}

    {% block content %}
    <form action="/events/api/create-event" method="POST">{% csrf_token %}
        From date: </br>
        <input type="date" name="from_date"></br>
        End date:</br>
        <input type="date" name="end_date"></br>
        <input type="checkbox" name="is_host_ntnui"> NTNUI Event</br>
        <input type="checkbox" name="priority"> Priority</br>
        <input type="submit" value="Submit"></br>
    </form>
    {% endblock %}