{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/events.css' %}"/>
{% endblock %}
{% block title %}NTNUI - Events{% endblock %}

{% block content %}

    <div class="filter-bar">
        <div class="filter-bar-left">
            <div class="filter-element input-group">
                    <span class="input-group-addon" id="basic-addon1">
                        {% trans 'From date' %}
                    </span>
                <select class="form-control-select">
                    <option selected>{% trans 'Choose...' %}</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="filter-element input-group">
                    <span class="input-group-addon" id="basic-addon1">
                        {% trans 'To date' %}
                    </span>
                <select class="form-control-select">
                    <option selected>{% trans 'Choose...' %}</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div id="search" class="filter-element input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <img src="{% static 'img/serach.svg' %}" alt="groups icon" style="max-height:1rem;"/>
                </span>
                <input id="search-field" type="text" class="form-control" placeholder="{% trans 'search' %}" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
    <div class="event-main-page-container">

      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
            <h5 class="mb-0">
              <a>
                {% trans 'Hosted by' %}
              </a>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <input type="checkbox" name="group" value="NTNUI"> NTNUI<br>
              <input type="checkbox" name="group" value="Svømming"> Svømming<br>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h5 class="mb-0">
              <a>
                {% trans 'Place' %}
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              <input type="checkbox" name="place" value="gløshaugen">Gløshaugen<br>
              <input type="checkbox" name="place" value="høgskoleparken">Høgskoleparken<br>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                {% trans 'Type of event' %} <!-- Pål -->
              </a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
              <input type="checkbox" name="type" value="sprint">Sprint<br>
              <input type="checkbox" name="type" value="svømming">Kondisjon<br>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingFour">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                {% trans 'Other options' %} <!-- Pål -->
              </a>
            </h5>
          </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="card-block">
            <input type="checkbox" name="other" value="free_event">Free event<br>
            <input type="checkbox" name="other" value="svømming">other options...<br>
          </div>
        </div>
      </div>
      </div>
        <div class="create-event">
            {% if can_create_event %}
                <h3>{% trans 'My options' %}</h3>
                <div>
                    <a id="go-to-create-event" href="/">
                        <button type="button" class="buttons btn btn-success">{% trans 'My events' %}</button>
                    </a>
                </div>
                <div>
                    <a id="go-to-create-event" href="{% url 'create_event_page' %}">
                        <button type="button" class="buttons btn btn-success">{% trans 'Create event' %}</button>
                    </a>
                </div>
                <div>
                    <a id="go-to-create-event" href="/">
                        <button type="button" class="buttons btn btn-success">{% trans 'Manage events' %}</button>
                    </a>
                </div>
            {% endif %}
        </div>
        <div id="main">
            <div id="event-container">
            </div>
            <div style="display:flex;justify-content: center; margin-top:1rem;">
                <button type="button" id="load-more" class="buttons btn btn-success">{% trans 'Load more events' %}</button>
            </div>
        </div>

    </div>
    </div>
{% endblock %}



{% block script %}
    <script type="text/javascript" src="{% static 'js/event_main.js' %}"></script>
{% endblock %}
